body {
  margin: 0;
  padding: 0;
}
.container {
  width: 50%;
  margin: auto;
  position: relative;
}
.container > h1 {
  margin: 50px 0;
  text-align: center;
}

.container form {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
#title {
  font-size: 20px;
}
#author {
  font-size: 16px;
}
#content {
  height: 300px;
  font-size: 15px;
  resize: none;
}
form + a {
  border: 1px solid gray;
  padding: 5px 10px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
  text-decoration: none;
  position: absolute;
  right: 0;
}
a:link,
a:visited,
a:active,
a:hover {
  color: #000;
}
.container form p {
	margin: 0;
}